node_modules
.env
coverage
coverage.json
typechain
typechain-types

# Hardhat files
cache
artifacts

# Local Geth data
geth-data

# IDE files
.vscode
.idea

*.terraform*
*.out
kube-config*
kube_config*
sp.auto.tfvars
auto.tfvars
*.bak
*_output
acr-tf
chart
*_path
*.tfstate.*
terraform.tfstate.backup
terraform.tfstate
terraform.tfstate.backup.*
ssh_keys
ssh_keys/*
*.pub
*.pem
.terraform
.terraform.lock.hcl
credentials.json